---
import { Speakers, Talks } from "@components";

const response = await fetch("https://cssday.nl/data");
let data = await response.json();
data = Object.keys(data).map((key) => data[key]);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CSS Day</title>

    <link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="description" content="CSS! CSS! CSS! CSS! CSS!">
  </head>
  <body>
    <h1>CSS Day</h1>

    {
      data.map((row) => (
        <>
          <h2>{row.title}</h2>
          <Speakers data={row.speakers} />
          <Talks data={row.talks} />
        </>
      ))
    }
  </body>
</html>

<style>
	:root {
		color-scheme: dark light;
	}
</style>
