---
import { Attendees, CopyLeft, Speakers, Talks } from "@components";
import "@assets/css/layout.css";
import "@assets/css/reset.css";
import "@assets/css/typography.css";

const response = await fetch("https://cssday.nl/data");
let data = await response.json();
data = Object.keys(data).map((key) => ({ ...data[key], year: key }));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="CSS! CSS! CSS! CSS! CSS!" />

    <title>CSS Day</title>

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <header class="header">
      <h1>CSS Day</h1>
    </header>

    <main class="main">
      {
        data.map((row) => (
          <section class="css-day full" style={`--color: ${row.color.hex};`}>
            <header class="css-day__header">
              <h2>{ row.year }</h2>
              <p>{ row.title }</p>
            </header>

            <Talks data={row.talks} />
            <Attendees data={row.attendees} />
          </section>
        ))
      }
    </main>

    <footer class="footer">
      <div class="footer__content">
        <CopyLeft />
         2024 Luuk Brauckmann. Some rights reserved.
      </div>
    </footer>
  </body>
</html>

<style>
  :root {
    color-scheme: dark light;
  }

  @media (prefers-color-scheme: light) {
    /* @see https://coolors.co/palette/eee7d7-e6c9c6-4e705d-58554c-a97c41-e8ada5 */
    :root {
      --c-background: #eee7d7;
      --c-text: #1a1c1a;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --c-background: #1a1c1a;
      --c-text: #eee7d7;
    }
  }

  html {
    font-size: 1.125rem;
  }

  body {
    background-color: var(--c-background);
    color: var(--c-text);
  }

  .header {
    background-color: var(--c-foreground);
    padding: 2rem 1rem;
  }

  .footer {
    background-color: var(--c-foreground);
    padding: 1.5rem 1rem;
  }

  .css-day {
    --border-color: color-mix(in srgb, var(--color) 50%, var(--c-background));

    padding: 4rem 1rem;
    border-left: 1rem solid var(--border-color);
    border-right: 1rem solid var(--border-color);
  }

  .css-day__header {
    margin-bottom: 2rem;
  }
</style>
