---
let { data } = Astro.props;

if (data) {
  data = Object.keys(data).map(key => data[key]);
}
---

<section>
  <h3>Speakers</h3>
  
  <ul>
    { data && data.map((row) => (
      <li>{ row.name }</li>
    )) }
  </ul>
</section>