---
const { data } = Astro.props;
---

<section class="speakers">
  <h3>Speakers</h3>
  
  <ul class="speakers-list">
    { data && data.map((row) => (
      <li class="speakers-list__item">
        <img src={row.avatar} alt={row.name} height="200" width="200" />
        <h4>{ row.name }</h4>
      </li>
    )) }
  </ul>
</section>

<style>
  .speakers-list {
    list-style: none;
    padding: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    margin-inline: -1rem;
  }

  .speakers-list__item {
    min-width: 200px;
    scroll-snap-align: center;
  }

  .speakers-list__item:first-child {
    margin-inline-start: 1rem;
  }

  .speakers-list__item:last-child {
    margin-inline-end: 1rem;
  }


  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
</style>